*{
    margin: 0px;
    padding: 0px;
}

.flexbox-container{
    width: 100%;
    height: 500px;
    border: 2px solid blue;
    color: white;
    font-size: 50px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.item{
    background-color:rosybrown;
    width: 200px;
    height: 100px;
}



